*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::selection{
    background-color: var(--main-color);
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------start container media ------------------------------------ */
@media (min-width : 768px){
    .container{
        width: 750px;
    }
}
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}
/* ------------------------------end container media --------------------------------------------*/
.bg{
    background-color: var(--gray-section-background);
}
/* ------------------------------start padding and margin media --------------------------------------------*/
.p-20{
    padding: 20px;
}
.section-padding{
    padding: 60px 0;
}
/* ------------------------------end padding and margin media --------------------------------------------*/


/* ------------------------------start global grid and flex system framework ------------------------------------ */
.grid-col-4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.grid-col-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media (max-width : 991px) {
    .grid-col-2{
        grid-template-columns: 1fr;
    }
}
.flex{
    display: flex;
    /* flex-wrap: wrap; */
}
.flex-dir-change-media{
    display: flex;
}
@media (max-width:991px) {
    .flex-dir-change-media{
        flex-direction:column;
    }
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ------------------------------end global grid and flex system framework ------------------------------------ */

/* ------------------------------start headings framework ----------------------------- */
.main-title{
    position: relative;
    border: 2px solid var(--sec-color);
    width: fit-content;
    margin: 60px auto;
    text-align: center;
    padding: 10px 20px;
    color: var(--sec-color);
    transition: var(--transition-duration);
    text-transform: uppercase;
    z-index: 1;
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover{
    color: white;
    transition-delay: 0.5s;
}
.main-title:hover::before{
    z-index: -1;
    animation: before-fill-effect 0.5s linear forwards;
}
@keyframes before-fill-effect {
    50%{
        left: 0px;
        height: 10px;
        border-radius: 50%;
    }
    51%{
        height: 100%;
        width: 10px;
        border-radius: 0;
    }
    100%{
        border-radius: 0;
        height: 100%;
        left: 0;
        width: 100%;
    }
}
.main-title:hover::after{
    z-index: -1;
    animation: after-fill-effect 0.5s linear forwards;
}
@keyframes after-fill-effect {
    50%{
        right: 0px;
        height: 10px;
        border-radius: 50%;
    }
    51%{
        height: 100%;
        width: 10px;
        border-radius: 0;
    }
    100%{
        border-radius: 0;
        height: 100%;
        right: 0;
        width: 100%;
    }
}
.main-heading{
    text-align: center;
}
.main-heading .heading{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    margin: 20px 0;
    color: #666;
}
.main-heading .heading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--sec-color);
    bottom: 0;
    left: 0;
}
.main-heading .heading::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--sec-color);
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;    
}
.main-heading .heading-para{
    max-width: 350px;
    text-align: center;
    margin: 0 auto 30px;
    color: #666;
}
/* ------------------------------end headings framework ----------------------------- */

/* ------------------------------start global artical section framework ----------------------------- */
.artical-card{
    border: 1px solid #eee;
    position: relative;
    transition: var(--transition-duration);
    box-shadow: var(--artical-shadow);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.artical-card:hover{
    transform: translateY(-10px);
}
.artical-card .content{
    padding: 10px;
}
.artical-card .content h4{
    color: var(--main-color);
    font-size: 1.2rem;
}
.artical-card .content p{
    line-height: 1.8;
    color: #666;
    font-size: 0.8rem;
}
.artical-card .read-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eee;
}
.artical-card .read-more a{
    color: var(--main-color);
    font-size: 0.8rem;
}
.artical-card .read-more i{
    color: var(--main-color);
}
.artical-card:hover i{
    animation: moving-arrow var(--transition-duration) infinite;
}
@keyframes moving-arrow {
    100%{
        transform: translateX(-10px);
    }
}

/* ------------------------------end global artical section framework ------------------------------- */

/* ------------------------------start global gallery section framework ------------------------------ */
.flashing-card{
    padding: 15px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%),
                0 2px 4px 0 rgb(0 0 0 /15%);
    /* position: relative; */
}
.flashing-card .card-img{
    position: relative;
    overflow: hidden;
}
.flashing-card .card-img::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: var(--transition-duration); */
    z-index: 2;
}
.flashing-card:hover .card-img::before{
    animation: flashing 0.7s;
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.flashing-card .card-img img{
    transition: var(--transition-duration);
}
.flashing-card:hover .card-img img{
    transform: rotate(5deg) scale(1.1);
    /* filter: grayscale(100%); */
}
/* ------------------------------end global gallery section framework ------------------------------------ */

/* ------------------------------start global features section framework ------------------------------*/
.feat{
    display: flex;
    flex-direction: column;    
    align-items: center;
    border: 1px solid #ccc;
    counter-increment: feat;
    box-shadow: var(--artical-shadow);
    border-radius: 10px;
    overflow: hidden;
}
.feat .feat-img{
    position: relative;
    overflow: hidden;

}
.feat .feat-img::before{
    content: "0"counter(feat);
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 0;
    width: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-duration);
    font-size: 0rem;
    font-weight: bold;
    color: white;
}
.feat:nth-child(3n+1) .feat-img::before{
    background-color: rgb(33 150 243 / 50%);
}
.feat:nth-child(3n+2) .feat-img::before{
    background-color: rgb(243 33 33 / 50%);
}
.feat:nth-child(3n+3) .feat-img::before{
    background-color: rgb(255 193 7/50%);
}
.feat:nth-child(3n+1) h3{
    color: var(--main-color);
}
.feat:nth-child(3n+2) h3{
    color:rgb(243, 33, 33);
}
.feat:nth-child(3n+3) h3{
    color: rgb(255, 193, 7);
}
.feat:nth-child(3n+1) h3::after{
    background-color: var(--main-color);
}
.feat:nth-child(3n+2) h3::after{
    background-color: rgb(243, 33, 33);
}
.feat:nth-child(3n+3) h3::after{
    background-color: #ffc107;
}
.feat:hover .feat-img::before{
    padding-top: 80px;
    border-radius: 0;
    height: 100%;
    width: 100%;
    font-size: 6rem;
}
.feat .feat-img::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    transition: var(--transition-duration);
    border-width: 0 0 200px 600px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition: var(--transition-duration);
}
.feat:hover .feat-img::after{
    border-width: 0 600px 200px 500px;
}
/* .feat .feat-img::after{
    content: "0"counter(feat);
    position: absolute;
    top: 50%;
    left: -50%;
    font-size: 6rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    transition: var(--transition-duration);
    color: white;    
}
.feat:hover .feat-img::after{
    left: 50%;
} */
.feat h3{
    /* color: var(--main-color); */
    padding: 10px 0 30px;
    font-size: 1.8rem;
    position: relative;
}
/* .feat:nth-child(3n+1) h3,
.feat:nth-child(3n+1) a{
    color: var(--main-color);
    border-color: var(--main-color);
}
.feat:nth-child(3n+2) h3,
.feat:nth-child(3n+2) a{
    color: rgb(243 33 33 / 100%);
    border-color: rgb(243 33 33 / 100%);;
}
.feat:nth-child(3n+3) h3,
.feat:nth-child(3n+3) a{
    color: var(--main-color);
    border-color: var(--main-color);
} */
.feat h3::after{
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% - 30px);
    bottom: 10px;
    left: 15px;
    /* background-color: var(--main-color); */
}
.feat p{
    color: #333;
    line-height: 1.8;
    padding: 20px;
    text-align: center;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    /* margin: 20px 0 ; */
}
.feat:nth-child(3n+1) a{
    border: 3px solid var(--main-color);
    color: var(--main-color);
    background: linear-gradient(to right,var(--main-color) 50%,white 50%);
    background-size: 200% 100%;
    background-position-x: right;
    transition: var(--transition-duration);
    font-weight: bold;
}
.feat:nth-child(3n+2) a{
    border: 3px solid rgb(243, 33, 33);
    color: rgb(243, 33, 33);
    background: linear-gradient(to right,rgb(243, 33, 33) 50%,white 50%);
    background-size: 200% 100%;
    background-position-x: right;
    transition: var(--transition-duration);
    font-weight: bold;
}
.feat:nth-child(3n+3) a{
    border: 3px solid #ffc107;
    color: rgb(255, 193, 7);
    background: linear-gradient(to right,#ffc107 50%,white 50%);
    background-size: 200% 100%;
    background-position-x: right;
    transition: var(--transition-duration);
    font-weight: bold;
}
.feat a{
    display: block;
    margin: 20px;    
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 1.2rem;
}
.feat a:hover{
    background-position-x: left;
    color: white;
}
/* ------------------------------end global features section framework --------------------------- */

/* --------------------------start global testimonials section framework -------------------------- */
.testimonial-card{
    background-color: white;
    position: relative;
    border-radius: 10px;
    /* box-shadow: var(--artical-shadow); */
    padding: 20px;
    border: 1px solid white;
}
.testimonial-card::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ddd;
    transition: var(--transition-duration);
}
.testimonial-card:hover::before{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.testimonial-card img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--gray-section-background);
    top: -40px;
    right: -10px;
}
.testimonial-card .content{
    position: relative;
}
.testimonial-card h3{    
    margin-bottom: 10px;
    /* position: relative; */
}
.testimonial-card span{
    color: #666;
}
.testimonial-card .stars{
    margin: 10px 0;
}
.testimonial-card .stars i{
    color: #ffc107;
}
.testimonial-card p{
    line-height: 1.6;
    color: #666;
}
/* --------------------------end global testimonials section framework -------------------------- */

/* --------------------------start global team member section framework -------------------------- */
.team-card{
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.team-card::before,
.team-card::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
.team-card::before{
    border-radius: 20px;
    background-color: var(--gray-section-background);
    width: calc(100% - 60px);
}
.team-card::after{
    background-color: #ccc;
    width: 0;
    transition: var(--transition-duration);
}
.team-card:hover:after{
    width: calc(100% - 60px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.team-card .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.team-card .content img{
    width: 300px;
    border-radius: 20px;
    transition: var(--transition-duration);
}
.team-card:hover .content img{
    filter: grayscale(0.5);
}
.team-card .content .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.team-card .content .social i{
    margin: 10px;
    /* width: 100%; */
    text-align: center;
    cursor: pointer;
    color: var(--main-color);
}
.team-card .content .social i:hover{
    color: white;
}
.team-card .info{
    margin-left: 60px;
    padding: 10px 0 0 20px;
}
.team-card .info h3{
    color: var(--main-color);
}
.team-card .info p{
    font-size: 0.8rem;
    color: #777;
}
@media (max-width : 767px){
    .team-card::before{
        width: 100%;
    }
    .team-card:hover::after{
        width: 100%;
    }
    .team-card .content{
        flex-direction: column;
    }
    .team-card .content .social{
        flex-direction: row;
    }
    .team-card .content img{
        /* width: 200px; */
        width: 100%;
        padding: 10px;
    }
    .team-card .info{
        text-align: center;
        margin: 0;
        padding: 20px;
    }
}
/* --------------------------end global team member section framework -------------------------- */

/* --------------------------start global services section framework -------------------------- */
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    box-shadow: var(--shadow);
    counter-increment: srv;
    transition: var(--transition-duration);
}
.service:hover{
    transform: translateY(-10px);
}
.service::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    top: -3px;
    right: 50%;
    transform: translateX(50%);
    transition: var(--transition-duration);
}
.service:hover::before{
    width: 100%;
}
.service i{
    color: var(--gray-section-background);
    font-size: 4rem;
    padding: 20px;
}
.service h4{
    color: var(--main-color);
    margin-bottom: 20px;
}
.service span{
    background-color: #fafafa;
    width: 100%;
    padding: 5px 10px;
    text-align: right;
    position: relative;
}
.service span a{
    color: var(--main-color);
    font-size: 0.8rem;
}
.service span::before{
    content: "0" counter(srv);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
.service span::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 40px;
    background-color: #ccc;
    transform: skewX(-20deg);
}
/* --------------------------end global services section framework -------------------------- */

/* --------------------------start global skills section framework -------------------------- */
.skill{
    margin: 20px 0;
}
.skill .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.skill .text span{
    font-size: 0.8rem;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    color: var(--main-color);
}
.skill .graph{
    height: 20px;
    background-color: var(--gray-section-background);
    position: relative;
}
.skill .graph span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);

}
/* --------------------------end global skills section framework -------------------------- */

/* --------------------------start global pricing section framework -------------------------- */
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: var(--shadow);
    padding: 20px 0;
    position: relative;
}
/* .plan:nth-child(2){
    position: relative;
    bottom: 20px;
} */
.plan h3{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.plan img{
    width: 64px;
}
.plan h4{
    font-size: 3rem;
    color: var(--main-color);
    margin-top: 20px;
}
.plan span{
    color: #ccc;
}
.plan ul{
    width: 100%;
    padding: 20px 0;
}
.plan ul li{
    color: #ccc;
    position: relative;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
    line-height: 2;
    font-size: 1.1rem;
}
.plan ul li:last-child{
    border: none;
}
.plan ul li::before{
    font-family: "Font Awesome 6 Free";
    content:"\f00c";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: var(--main-color);
}
.plan a{
    display: block;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--main-color);
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(to right, var(--main-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: var(--transition-duration);
}
.plan a:hover{
    background-position: left;
    color: white;
}
.plan .label{
    position: absolute;
    top: 0;
    right:30px;
    background-color: var(--main-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    padding-top: 30px;
    width: 60px;
    height: 200px;
}
.plan .label::before{
    content: "";
    position: absolute;
    right: 50%;
    bottom: -1px;
    transform: translateX(50%);
    border-width: 30px;
    border-style: solid;
    border-color: transparent  transparent white transparent;
}
/* --------------------------end global pricing section framework -------------------------- */

/* --------------------------start global video section framework -------------------------- */
.holder{
    background-color: var(--gray-section-background);
}
.holder .list{
    margin: 10px;
    min-width: 300px;
}
.holder .list h3{
    color: var(--main-color);
    margin-bottom: 20px;
}
.holder .list ul li{
    padding: 10px 0;
    border-top: 1px solid #ccc;
    color: #777;
    transition: var(--transition-duration);
    cursor: pointer;
}
.holder .list ul li:hover{
    color: var(--main-color);
}
.holder .list ul li span{
    font-size: 0.9rem;
}
.holder .preview{
    padding: 10px;
}
.holder .preview h3{
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
    width: 100%;
}
/* --------------------------end global video section framework -------------------------- */

